<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="2em"
                    height="2em"
                    viewBox="0 0 512 512"
                >
                    <rect width="512" height="512" fill="none" />
                    <path
                        fill="none"
                        stroke="#e2e8f0"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="18"
                        d="M344 256a88 88 0 1 1-88-88a88 88 0 0 1 88 88ZM200 116.9l-3.8 7.7A269.7 269.7 0 0 0 169 267h0m143.1 128l3.8-7.7A269.7 269.7 0 0 0 343.2 245h0"
                    >
                        <animateTransform
                            additive="sum"
                            attributeName="transform"
                            dur="6s"
                            repeatCount="indefinite"
                            type="rotate"
                            values="1440 256 256; 0 256 256"
                        />
                    </path>
                </svg>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/" (click)="activeClick(0)"
                            >Trang chủ</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" (click)="activeClick(1)">Thông báo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/orders" (click)="activeClick(2)">
                            <i class="fas fa-shopping-cart icon"></i>
                            Giỏ hàng
                        </a>
                    </li>
                </ul>
            </div>

            <div *ngIf="userResponse">
                <div ngbDropdown class="d-inline-block">
                    <button
                        type="button"
                        class="btn btn-outline-light border-0 mb-1"
                        id="dropdownBasic1"
                        ngbDropdownToggle
                    >
                        <div class="fa-sharp fa-regular fa-user"></div>
                        {{ userResponse.full_name }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="popover-item" ngbDropdownItem (click)="handleItemClick(0)">
                            Tài khoản của tôi
                        </button>
                        <button class="popover-item" ngbDropdownItem (click)="handleItemClick(1)">
                            Đơn mua
                        </button>
                        <button class="popover-item" ngbDropdownItem (click)="handleItemClick(2)">
                            Đăng xuất
                        </button>
                    </div>
                </div>
            </div>

            <!-- <i class="fa-sharp fa-regular fa-user me-2"></i>
            <div *ngIf="userResponse">
                <div
                    ngbDropdown
                    popoverTitle="User Actions"
                    triggers="click"
                    [placement]="'bottom'"
                >
                    <a
                        class="nav-link"
                        routerLink="/profile"
                        [ngbPopover]="popoverContent"
                        (click)="togglePopover($event)"
                    >
                        {{ userResponse.full_name }}
                    </a>
                    <ng-template #popoverContent>
                        <div class="popover-list">
                            <a href="#" class="popover-item" (click)="handleItemClick(0)"
                                >Tài khoản của tôi</a
                            >
                            <a href="#" class="popover-item" (click)="handleItemClick(1)"
                                >Đơn mua</a
                            >
                            <a href="#" class="popover-item" (click)="handleItemClick(2)"
                                >Đăng xuất</a
                            >
                        </div>
                    </ng-template>
                </div>
            </div> -->

            <ng-container *ngIf="!userResponse">
                <a class="nav-link" routerLink="/login" id="loginTag"
                    ><div class="fa-sharp fa-regular fa-user"></div>
                    Đăng nhập</a
                >
            </ng-container>
        </div>
    </nav>
</header>
