<app-header></app-header>
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px" *ngIf="orderResponse">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-muted mb-0">
                            Cảm ơn bạn đã đặt hàng,
                            <span style="color: #a8729a">{{ orderResponse.fullname }}</span
                            >!
                        </h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0" style="color: #a8729a">Đơn hàng</p>
                            <!-- <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p> -->
                        </div>
                        <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p class="text-center text-muted mb-0">Hình ảnh</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="text-center text-muted mb-0">Tên sản phẩm</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="text-center text-muted mb-0">Mô tả</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="text-center text-muted mb-0">Số lượng</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="text-center text-muted mb-0">Giá</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="text-center text-muted mb-0">Tổng tiền</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngFor="let item of orderResponse.order_details">
                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img
                                                [src]="item.productId.thumbnail"
                                                class="img-fluid"
                                                alt="Phone"
                                            />
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                                        >
                                            <p class="text-muted mb-0">{{ item.productId.name }}</p>
                                        </div>

                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                                        >
                                            <p class="text-muted mb-0 small">
                                                {{ item.productId.description }}
                                            </p>
                                        </div>

                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                                        >
                                            <p class="text-muted mb-0 small">
                                                {{ item.numberOfProducts }}
                                            </p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                                        >
                                            <p class="text-muted mb-0 small">
                                                ${{ item.price | number : '1.2-2' }}
                                            </p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                                        >
                                            <p class="text-muted mb-0 small">
                                                {{ item.totalMoney | number : '1.2-2' }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0">Order Details</p>
                            <p class="text-muted mb-0">
                                <span class="fw-bold me-4">Tổng</span> ${{
                                    orderResponse.total_money | number : '1.2-2'
                                }}
                            </p>
                        </div>

                        <div class="d-flex justify-content-between pt-2">
                            <p class="text-muted mb-0">Số hóa đơn : {{ orderResponse.id }}</p>
                            <p class="text-muted mb-0">
                                <span class="fw-bold me-4">Giảm giá</span> $0.00
                            </p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">
                                Ngày đặt hàng: <time>{{ order_date_updated }}</time>
                            </p>
                            <p class="text-muted mb-0">
                                <span class="fw-bold me-4">Phương thức thanh toán</span>
                                {{ orderResponse.payment_method }}
                            </p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
                            <p class="text-muted mb-0">
                                <span class="fw-bold me-4">Tiền vận chuyển</span> Free
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">
                                Phương thức vận chuyển: {{ orderResponse.shipping_method }}
                            </p>
                        </div>
                    </div>
                    <div
                        class="card-footer border-0 px-4 py-5"
                        style="
                            background-color: #a8729a;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        "
                    >
                        <h5
                            class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0"
                        >
                            Tổng thanh toán:
                            <span class="h2 mb-0 ms-2"
                                >${{ orderResponse.total_money | number : '1.2-2' }}</span
                            >
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
