<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>This is home</h1>
        <p>hello</p>
    </div>
    <!-- 1 searchbox in left, 1 combobox in right -->
    <div class="searchbox">
        <input
            type="text"
            class="form-control search-input"
            placeholder="Tìm sản phẩm"
            [(ngModel)]="keyword"
        />
        <select class="form-control product-category" [(ngModel)]="selectedCategoryId">
            <option [value]="0">Tất cả</option>
            <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
            </option>
        </select>
        <button (click)="searchProducts()" class="btn btn-primary ml-2">Tìm kiếm</button>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let product of products">
            <div class="product-item">
                <img [src]="product.url" alt="Product Image" class="product-image" />
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: ${{ product.price }}</p>
                <!-- div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div> -->
                <!-- <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <nav aria-label="Page Navigation">
        <ul class="pagination">
            <li class="page-item" *ngIf="currentPage > 1">
                <a class="page-link" href="#" (click)="onPageChange(1)">Trang đầu</a>
            </li>
            <li class="page-item" *ngIf="currentPage > 1">
                <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Quay lại</a>
            </li>
            <ng-container *ngFor="let page of visiblePages">
                <li class="page-item" [ngClass]="{ active: page === currentPage }">
                    <a
                        class="page-link"
                        href="#"
                        (click)="onPageChange(page)"
                        *ngIf="page === visiblePages[0] && page !== 0"
                        >... {{ page }}</a
                    >
                    <a
                        class="page-link"
                        href="#"
                        (click)="onPageChange(page)"
                        *ngIf="
                            (page !== visiblePages[0] && page !== visiblePages[4]) ||
                            page === 0 ||
                            page === totalPages - 1
                        "
                        >{{ page }}</a
                    >
                    <a
                        class="page-link"
                        href="#"
                        (click)="onPageChange(page)"
                        *ngIf="page === visiblePages[4] && page !== totalPages - 1"
                        >{{ page }} ...</a
                    >
                </li>
            </ng-container>
            <li class="page-item" *ngIf="currentPage < totalPages - 1">
                <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)">Kế tiếp</a>
            </li>
            <li class="page-item" *ngIf="currentPage < totalPages - 1">
                <a class="page-link" href="#" (click)="onPageChange(totalPages - 1)">
                    Trang cuối
                </a>
            </li>
        </ul>
    </nav>
</div>
<app-footer></app-footer>
