<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>This is home</h1>
        <p>hello</p>
    </div>
    <!-- 1 searchbox in left, 1 combobox in right -->
    <div class="searchbox">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm" />
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Hải sản</option>
            <option>Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image"
                    class="product-image"
                />
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">This is Macbook</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image"
                    class="product-image"
                />
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">This is Macbook</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image"
                    class="product-image"
                />
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">This is Macbook</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image"
                    class="product-image"
                />
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">This is Macbook</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=800"
                    alt="Product Image"
                    class="product-image"
                />
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">This is Macbook</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
