<div class="toast-container position-fixed p-3 top-0 start-50 translate-middle-x">
    <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-autohide="true"
        data-bs-delay="2000"
    >
        <div class="toast-header">
            <strong class="me-auto">Lỗi</strong>
            <!-- <small>11 mins ago</small> -->
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"
            ></button>
        </div>
        <div class="toast-body">Đăng nhập để thêm sản phẩm vào giỏ hàng</div>
    </div>
</div>
<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Detail product page</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- bên trong carousel-inner có 1 hoặc nhiều element-->
                    <!-- sử dụng carousel-item -->
                    <div
                        *ngFor="let image of product?.product_images; let i = index"
                        class="carousel-item"
                        [ngClass]="{ active: i === currentImageIndex }"
                    >
                        <div class="square-image">
                            <img
                                [src]="image.image_url"
                                class="product-image"
                                alt="Product Image"
                            />
                        </div>
                    </div>

                    <!--prev and next button  -->
                    <!-- data-bs-target phải match với ID (#carouselExample) của ở trên -->
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-ride="prev"
                        (click)="previousImage()"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-ride="next"
                        (click)="nextImage()"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="thumbnail-container">
                    <div
                        *ngFor="let image of product?.product_images; let i = index"
                        class="thumbnail-item"
                        [ngClass]="{ active: i === currentImageIndex }"
                        (click)="thumbnailClick(i)"
                    >
                        <img
                            [src]="image.image_url"
                            class="thumbnail-image"
                            alt="Thumbnail Image"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details">
                <h2>{{ product?.name }}</h2>
                <p>{{ product?.description }}</p>
                <p>Giá: ${{ product?.price }}</p>

                <div class="product-actions">
                    <button class="btn btn-primary" id="addToCartBtn">Thêm vào giỏ hàng</button>

                    <button class="btn btn-success" (click)="buyNow()" *ngIf="userResponse">
                        Mua ngay
                    </button>
                    <span style="display: none" id="addToCart"></span>
                </div>

                <div class="product-quantity">
                    <div class="border-wrapper">
                        <button (click)="decreaseQuantity()">-</button>
                        <input type="text" [value]="quantity" />
                        <button (click)="increaseQuantity()">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
